/* 
    Document   : estilo3
    Created on : 14/03/2013, 04:41:08 PM
    Author     : Federico
    Description:
        Purpose of the stylesheet follows.
*/

body{
    margin: 0;
    background-color: #333;
    font-family: Geneva, sans-serif;
}

.wrapper-s {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}

#container {
    border-top: #eaeaea solid 1px;
    border-bottom: #727272 solid 3px;
    border:  solid 1px #dddddd;
}

#content {
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 50px;
    float: left;
    width: 750px;
}

/************************************************
 *          ARTICULOS
 ************************************************/
.article {
    border: solid 1px transparent;
    background-image: url(/img/home/panel-gris.svg.png);
    background-repeat: no-repeat;
    padding: 10px;
    margin: 15px;
    overflow: hidden;
    color: #6b6b6b;
    font-stretch: condensed;
}

.article:hover {
    background-image: url(/img/home/panel-gris-hover.png);
    color: #3d3d3d;
    cursor: pointer;
}

.article div {
    width: 466px;
    float: left;
    padding: 10px;
}

.article img {
    float: left;
    border: #D5D5D5 solid 1px;
    padding: 5px;
    background-color: #FFF;
}

/************************************************
 *          HEADER
 ************************************************/

.font-header {
    background-image: url(/img/fondo-cabecera.png);
}

.header {
    background-color: #ffffff;
    background-image: url(/img/fondo-cabecera.png);
    min-height: 160px;
}

#container-logo {
    float: left;
    overflow: hidden;
}

#container-logo img {
    float: left;
}

#container-logo div {
    float: left;
}

#container-slogan {
    float: left;
    margin-left: 100px;
    margin-top: 105px;
    font-size: 40px;
    letter-spacing: -3px;
    color: #606060
}

/************************************************
 *          SLIDER
 ************************************************/

#container-slider {
    border-bottom: #EAEAEA solid 1px; 
    padding-bottom: 20px;
}

.content-slider {
    margin: 10px auto 0px auto;
    height: 400px;
    padding: 5px 5px 5px 5px;
    background-image: url(/img/home/background-slider.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.content-slider div {
    overflow: hidden;
}

.content-slider div img, .content-slider div div {
    float: left;
}

.content-slider div div {
    padding: 10px; 
    text-align: center;
}

.slider {
    font-stretch: condensed;
}

.slider img {
    padding: 10px;
    width: 500px;
    height: 380px;
}

.bg-description-slider {
    background-image: url(/img/home/panel-descripcion-img-slider.png); 
    width: 448px; 
    height: 366px;
    margin-top: 5px;
    margin-left: 0px;
    color: white;
}


/************************************************
 *          NAV
 ************************************************/
.nav {
    border-top: #262626 solid 3px;
    border-bottom: #EFD0AD solid 5px;
}

.nav div ul {
    overflow: hidden;
    margin: 0;
    list-style: none;
}

.nav div ul li {
    float: left;
}

.nav div ul li a:link, .nav div ul li a:visited {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #e5e5e5;
    border-left: #424242 solid 1px;
    /*border-right: #424242 solid 1px;*/
}

.nav div ul li a:hover {
    color: #ffffff;
    background-color: #444444;
}

.nav div ul li a:active {
    background-color: #1e1e1e;
}

/************************************************
 *          CONTENIDO DEL CUERPO DE PAGINA(ARTICULOS, EXTRAS ETC...)
 ************************************************/

#container-body {
    background-color: #ffffff;
}

/************************************************
 *          ASIDE
 ************************************************/
.aside {
    width: 230px;
    margin-left: 18px;
    margin-top: 50px;
    float: left;
}

.banner {
    border: #F3F3F3 solid 1px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.banner h3 {
    text-align: center;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    font-weight: lighter;
    border-bottom: solid 1px #F3F3F3;
    font-size: 14px;
    background-color: #e5e2af;
}

/************************************************
 *          FOTTER
 ************************************************/
#footer {
    min-height: 200px;
    background-image: url(/img/home/footer.png);
    background-repeat: repeat-x;
}

#footer #footer-content {
    margin-top: 5px;
    /*border-top: 4px solid #7a7a7a;*/
    padding-top: 20px;
    color: #cecece;
    font-size: 13px;
    text-align: center;
    letter-spacing: 5px;
    font-stretch: condensed;
}

/************************************************
 *          MENU VERTICAL
 ************************************************/
.vmenu {
    margin: 0px 0px 0px -40px;
}

.vmenu li {
    list-style: none;
}

.vmenu li a:link, .vmenu li a:visited {
    display: block;
    padding: 5px;
    margin: 0px 10px 0px 10px;
    text-decoration: none;
    border-bottom: solid 1px #F3F3F3;
    color: #6fcbe2;
}

.vmenu li a:hover {
    background-color: #f9f9f9;
}

